body{
    p{
        align-items: center;
    }
    section{ 
    font-size: arial;
    font-size: wait;
        }
        h1{
            
            text-align: center;
            
        }
        h2{
            text-align: center;
        }
.carrusel{
    align-items: center;
}
    }
.cr {
    background-color: red;
}
.caperucita-y-lobo{
    width: 50%;
    height: 50%;
    padding: 5%;
}
.tcr{
    border-style: double;
}
.los-cerditos {
    background-color: rgb(235, 49, 157);
}
img{
    max-width: 100%;
}