header{
        nav {
                ul{
                    li{
                        padding: 3%;
                        a{
                        font-style: italic;
                        font-size: medium;
                        color: rgb(253, 253, 253);
                        text-decoration: none;
                        }
                    }
                }
            }
        }